
.header {
  width: 100%;
  text-align: center;
  border-bottom: 22px solid #ffffff;
  color:#ff8648;
}

.block {
  margin: 3% auto;
  width: 88%;
  padding: 1%;
  text-align: left;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: repeating-linear-gradient(rgb(45, 51, 72), rgb(45, 51, 72) 0.163825%, rgb(255, 199, 119) 0.163825%, rgb(255, 255, 255) 100%);
  color: #474747;
}

.block:hover {
  cursor: pointer;
  border-color: orange;
}